extends layout

block head
  nav.menu
    a(class="",href="/")="accueil"
    a(class="",href="/filter")="Filtrer les données"
    a(class="",href="/d3")="Voir toutes les données"
  nav
    form(name="filter",method="post",action="/filter")
      div.input
        span.label Nom
        input(type="text",name="name",value= name)
      div.input
        span.label Paramètre
          select(id="Number", name="Number")
            if(number)
              option(value=number) #{number}
            option(value="Masse") Masse
            option(value="Diamètre équatoriale") Diamètre équatoriale
            option(value="demi-grand axe") demi-grand axe
            option(value="périhélie") périhélie
            option(value="aphélie") aphélie
            option(value="excentricité orbitale") excentricité orbitale
            option(value="inclinaison orbitale") inclinaison orbitale
            option(value="magnitude absolue") magnitude absolue
            option(value="magnitude apparente") magnitude apparente
            
      div.input
        span.label Minimum
        input(type="number",name="min",value= min)
      div.input
        span.label Maximum
        input(type="number",name="max",value= max)
      div.input
        span.label Classe
          select(id="Classe", name="classe")
            if(classe)
              option(value= classe) #{classe}
            option(value="Planète") Planète
            option(value="Étoile") Étoile
            option(value="Satellite") Satellite
            option(value="Astéroïde") Astéroïde
            option(value="Centaure. Troyen") Centaure. Troyen
            option(value="Comète") Comète
            option(value="Transneptunien") Transneptunien
            option(value="Satellite transneptunien") Satellite transneptunien
      div.input
        span.label Limite
        input(type="number",name="limit",value=limit)
      div.input
        input(type="submit",class="btn btn-primary",name="submit",value="filtrer")
block content
  
  article
    section
      if object.lienObjet
        h1.nom 
          a(href= "https://fr.wikipedia.org" + object.lienObjet ) #{object["Nom"]}
      else
        h1.nom #{object.Nom}

    if object.Photo
      img(src= object.Photo, alt="").imgView
    section 
      p.bold  Classe 
      p #{object.Classe}
      if(object["Numéro d'ordre"])
        p.bold  Numéro d'ordre
        p= object["Numéro d'ordre"]
      if object.LienType
        p.bold  Type 
        a(href= "https://fr.wikipedia.org" + object.LienType ) #{object["Type"]}
      else
        p.bold Type 
        p #{object["Type"]}
      if(object['Diamètre équatoriale'])
        p.bold  Diamètre équatoriale
        p #{object['Diamètre équatoriale']}
      if(object.Masse)
        p.bold  Masse
        p #{object.Masse}
      if(object["demi-grand axe"])
        p.bold  demi-grand axe
        p #{object["demi-grand axe"]}
      if(object["périhélie"])
        p.bold  périhélie
        p #{object["périhélie"]}
      if(object["aphélie"])
        p.bold  aphélie
        p #{object["aphélie"]}
      if(object["excentricité orbitale"])
        p.bold  excentricité orbitale
        p #{object["excentricité orbitale"]}
      if(object["magnitude absolue"])
        p.bold  magnitude absolue
        p #{object["magnitude absolue"]}
      if(object["magnitude apparente"])
        p.bold  magnitude apparente
        p #{object["magnitude apparente"]}
  
